<nav-bar class = "navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="" class="navbar-rand">Couuse Manager</a>
    <button class="navbar.toggler" type="button" data-toggle="collapse" data.target="#navbarSuportedContent "
    aria-controls="'navbarSuportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar.Toggle.icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarSuportedContent">
   
<ul class = "navbar.nav mr-auto"></ul>
<li class= "nav-item">
    <a  class="nav-link">Courses</a>
</li>
</div>   

</nav-bar>